html {
    scroll-behavior: smooth;
}

.c-link {
    margin-bottom: 64px;

    .c-link__items {
        display: flex;
        gap: 50px;
    }

    .c-link__item {
        width: 299px;
        height: 45px;
        background-color: #00aeef;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.42;
        font-weight: 500;

        i {
            font-size: 1rem;
        }

        span {
            margin-left: 10px;
        }

        color: #fff;
        cursor: pointer;

    }
}


.c-anchor1 {
    margin-bottom: 2px;

    .c-anchor1__title {
        font-size: 1.8rem;
        line-height: 1.42;
        font-weight: 700;
        padding-bottom: 11px;
        margin-bottom: 27px;
    }

    .c-anchor1__heading {
        display: block;
        font-size: 1.4rem;
        line-height: 1.42;
        font-weight: 500;
        margin-bottom: 16px;

        
    }

    .c-anchor1__heading a:hover {
        opacity: 0.7;
    }
}

.c-anchor2 {
    margin-bottom: 5px;

    .c-boxs.c-boxs--4item {
        gap: 15px 20px;
    }

    .c-anchor2__title {
        font-size: 1.8rem;
        line-height: 1.42;
        font-weight: 700;
        padding-bottom: 11px;
        margin-bottom: 30px;
    }

    .c-boxs__tag {
        padding: 0 20px;
    }

    .c-boxs__item:nth-child(1) .c-boxs__tag {
        padding: 0 23px;
    }

    .c-boxs__item:nth-child(3) .c-boxs__tag {
        padding: 0 22px;
    }

    .c-boxs__item:nth-child(4) .c-boxs__tag {
        padding: 0 21.5px;
    }

    .c-boxs__item:nth-child(5) .c-boxs__tag {
        padding: 0 22.5px;
    }

    .c-boxs__item:nth-child(7) .c-boxs__tag {
        padding: 0 22px;
    }
}


.c-anchor3 {
    margin-bottom: 107px;

    .c-anchor3__title {
        font-size: 1.8rem;
        line-height: 1.42;
        font-weight: 700;
        padding-bottom: 11px;
        margin-bottom: 27px;
    }

    .c-anchor3__caption {
        background-color: rgb(236, 230, 230);
        padding: 10px 0;
        margin-bottom: 21px;
        padding-left: 15px;
        font-size: 1.6rem;
        line-height: 1.42;
        font-weight: 700;
    }

    .c-anchor3__heading {
        display: block;
        font-size: 1.4rem;
        line-height: 1.42;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .c-anchor3__heading a:hover {
        opacity: 0.7;
    }

    .c-anchor3__table {
        border-collapse: collapse;
        margin-bottom: 49px;
        table-layout: fixed;
    }

    .c-anchor3__table tr:first-child th:first-child {
        width: 66px;
    }

    .c-anchor3__table tr:first-child th:nth-child(2),
 
    .c-anchor3__table tr:first-child th:nth-child(3),
 
    .c-anchor3__table tr:first-child th:nth-child(4),
 
    .c-anchor3__table tr:first-child th:nth-child(5) {
        width: 141px;
    }

    .c-anchor3__table th,
    .c-anchor3__table td {
        border: 1px solid #ccc;
        padding: 9.3px 0;
        padding-left: 30px;
        font-weight: 500;
    }

    .c-anchor3__table th {
        padding-left: 5px;
    }

    .c-anchor3__tabletr th:first-child {
        background-color: #ece6e6;
        padding-left: 0;
    }

    .c-anchor3__table tr:first-child {
        background-color: #acd373;
        color: #fff;
    }

    .c-anchor3__table tr:first-child th:first-child {
        background-color: #acd373;
    }

    .c-anchor3__table tr:nth-child(4) th {
        background: #6dcff6;
    }




    .c-anchor3__table2 {
        table-layout: fixed;
        border-collapse: collapse;
    }

    .c-anchor3__table2 tr:first-child th:first-child {
        width: 65px;
    }

    .c-anchor3__table2 tr:first-child td:nth-child(1),
 
    .c-anchor3__table2 tr:first-child td:nth-child(2),
 
    .c-anchor3__table2 tr:first-child td:nth-child(3),
 
    .c-anchor3__table2 tr:first-child td:nth-child(4) {
        padding-right: 26px;
    }

    .c-anchor3__table2 th,
    .c-anchor3__table2 td {
        border: 1px solid #ccc;
        padding: 9.5px 0;
        padding-left: 31px;
    }

    tr th:first-child {
        background-color: rgb(236, 230, 230);
        padding-left: 0;
    }

    .c-anchor3__table2 tr th:first-child {
        background-color: rgb(211, 215, 217);
        padding-left: 0;
    }

    .c-anchor3__table2 tr:first-child td:last-child {
        width: 140px;
    }

    .c-anchor3__table2 tr:first-child td:nth-child(3) {
        width: 144px;
    }

    .c-anchor3__table2 td:last-child {
        padding-left: 28px;
    }
}


.link1 {
    color: #222;

    .arrowright2 {
        font-size: 1rem;
        margin-left: 7px;
        margin-right: 6px !important;
    }
}

.c-header .c-header__logo {
    margin-top: 0;
}

.c-breadcrumb {
    margin-bottom: 36px;
}

.c-boxs__tag {
    margin-bottom: 16px;
}

.c-anchor2 .c-anchor2__title {
    margin-bottom: 30px;
}

.link1+.c-footer .c-footer__inner {
    padding-top: 42px !important;
}

.link1+.c-footer .fa-angle-right {
    font-size: 0.8rem !important;
    margin-right: 6px !important;
}
