.c-link {
    margin-bottom: 68px;

    .c-link__items {
        display: flex;
        gap: 50px;
    }

    .c-link__item {
        width: 299px;
        height: 45px;
        background-color: #00aeef;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        line-height: 20px;
        font-weight: 500;

        i {
            font-size: 1rem;
        }

        span {
            margin-left: 5px;
            margin-right: 3px;
        }
        color: #fff;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}
