<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="home">
    <% if (typeof linklists !='undefined' ) { %>
      <% linklists.main && linklists.main.forEach(link=> { %>
        <% if (link.data) { %>
          <div class="l-container">
            <%- include('_components/breadcrumb') -%>
              <%- include('_components/banner') -%>
                <!-- news---------------------------------------------------------------- -->
                <section class="p-news c-news">
                  <div class="c-news__title c-titlesection c-titlesection--yellow">
                    <h2>News</h2>
                  </div>
                  <div class="c-boxs">
                    <% link.data.newsItem.forEach(item=> { %>
                      <div class="c-boxs__item">
                        <div class="c-boxs__image">
                          <img src="./assets/img/item.png" alt="<%= item.title %>">
                          <label class="c-boxs__tag c-tagitem c-tagitem--bg<%= item.tagcolor %>"> <%= item.tag %> </label>
                        </div>
                        <div class="c-boxs__content">
                          <h4 class="c-boxs__titlecontent"><%= item.title %></h4>
                          <p class="c-boxs__desc"><%= item.desc %></p>
                          <a href="#" class="c-boxs__btn"><%= item.link %></a>
                        </div>
                      </div>
                      <% }) %>
                  </div>
                  <button class="c-news__more  c-btn c-btn--yellow">View more</button>
                </section>
          </div>
          <!-- feature---------------------------------------------------------------- -->
          <section class="p-feature c-feature">
            <div class="l-container">
              <div class="c-feature__title c-titlesection c-titlesection--red">
                <h2>Feature</h2>
              </div>
              <div class="c-boxs c-boxs--3item">
                <% link.data.featureItem.forEach(item=> { %>
                  <a href="#" class="c-boxs__item">
                    <div class="c-boxs__image">
                      <img src="./assets/img/itemfeature.png" alt="<%= item.desc %>">
                    </div>
                    <span class="c-boxs__tag c-tagitem c-tagitem--bg<%= item.tagcolor %>"> <%= item.tag %> </span>
                    <div class="c-boxs__content">
                      <p class="c-boxs__desc">
                        <%= item.desc %>
                      </p>
                    </div>
                  </a>
                  <% }) %>
              </div>
              <div class="c-feature__more">
                <button class=" c-btn--xl c-btn c-btn--red">View more</button>
              </div>
            </div>
          </section>
          <!-- blog---------------------------------------------------------------- -->
          <div class="l-container">
            <section class="l-blog c-blog">
              <div class="c-blog__title c-titlesection c-titlesection--blue">
                <h2>Blog</h2>
              </div>
              <div class="c-boxs c-boxs--2item">
                <% link.data.blogItem.forEach(item=> { %>
                  <a href="#" class="c-boxs__item">
                    <div class="c-boxs__image">
                      <img src="./assets/img/itemblog.png" alt="<%= item.desc %>">
                    </div>
                    <span class="c-boxs__tag c-tagitem c-tagitem--bg<%= item.tagcolor %>"><%= item.tag %></span>
                    <div class="c-boxs__content">
                      <p class="c-boxs__desc">
                        <%= item.desc %>
                      </p>
                    </div>
                  </a>
                  <% }) %>
              </div>
              <button class="c-blog__more  c-btn--full c-btn c-btn--blue">View more</button>
            </section>
          </div>
          <!-- footer---------------------------------------------------------------- -->
          <div class="u-linetop u-linebottom">
            <div class="l-container">
              <div class="c-footer__breadcrumb">
                <i class="fas fa-home home"></i>
                <span class="c-breadcrumb__home">Home</span>
              </div>
            </div>
          </div>
          <% } %>
            <% }) %>
              <% } %>
  </main>

  <!-- @@content -->