.c-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 116px;
    color: #222;

    .c-boxs {
        gap: 45px 50px;
        margin-bottom: 45px;
    }

    .c-boxs__item:nth-child(1) .c-boxs__tag {
        padding: 0 22.5px;
        height: 31px;
    }

    .c-boxs__item:nth-child(2) .c-boxs__tag {
        padding: 0 24px;
        height: 30px;
    }

    .c-boxs__item:nth-child(3) .c-boxs__tag {
        padding: 0 22.5px;
        height: 29px;
    }

    .c-boxs__item:nth-child(4) .c-boxs__tag {
        height: 30px;
    }
    
    .c-boxs__item:nth-child(2n) .c-boxs__tag {
        padding-right: 23px;
        padding-left: 20px;
    }

    .c-boxs__image {
        margin-right: 40px;
    }

    .c-boxs__tag {
        margin-top: 15px;
        margin-bottom: 17px;
    }

    .c-boxs__title {
        margin-bottom: 31px;
    }

    .c-blog__more {
        width: 100%;
    }
}

.home + .c-footer .c-footer__inner {
    padding-top: 40px !important;
}
