.c-feature {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 60px 0;
    background-color: #fafafa;
    color: #222;

    .c-boxs__tag {
        padding: 0 24px;
        height: 30px;
    }

    .c-boxs__item:nth-child(3) .c-boxs__tag {
        padding: 0 22px;
    }

    .c-boxs {
        gap: 44px 50px;
        margin-bottom: 53px;
    }

    .c-boxs__item {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .c-boxs__item:first-child .c-tagitem,
    .c-boxs__item:nth-child(2) .c-tagitem,
    .c-boxs__item:nth-child(4) .c-tagitem {
        padding: 0 22.5px;
    }

    .c-boxs__item:nth-child(3) {
        .c-boxs__tag {
            padding-right: 20px;
        }
    }
    
    .c-boxs__item:nth-child(6) {
        .c-boxs__tag {
            padding-left: 21px;
            padding-bottom: 2px;
        }
    }
    
    .c-boxs__image {
        margin-right: 40px;
    }
    
    .c-boxs__tag {
        margin-top: 15px;
        margin-bottom: 17px;
        font-size: 1.4rem;
    }

    .c-feature__more {
        margin-left: auto;
    }
}


