.c-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    color: #222;

    .c-boxs {
        margin-bottom: 61px;
    }

    .c-boxs__item:hover {
        opacity: 1;
    }

    .c-boxs__btn:hover {
        opacity: 0.7;
    }
}
