// base boxs ----------------------------------





// Feature ---------------------------------------------



// ------------------------------

.c-feature__more {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



// news-------------------------
.c-news__more {
    margin: auto;
}


// 2item----------------------------
