.c-footer {
    .c-footer__inner {
        padding-top: 37px;
        background-color: #fafafa;
        padding-bottom: 34px;
    }

    .c-footer__boxs {
        display: flex;
        gap: 50px;
    }

    .c-footer__title {
        padding-bottom: 10px;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 0.71;
    }

    .c-footer__box {
        width: 300px;
    }

    .c-footer__box:nth-child(2),
    .c-footer__box:nth-child(3) {
        i {
            font-size: 1rem;
        }
    }

    .c-footer__item {
        display: flex;
        align-items: center;
        margin-bottom: 0.3px;
        font-size: 1.4rem;
        line-height: 1.42;

        i { 
            font-size: 0.6rem;
            margin-right: 6px;
        }

        a {
            font-size: 1.4rem;
            line-height: 1.42;
        }
    }

    .c-footer__by {
        font-size: 1.2rem;
        line-height: 1.42;
        font-weight: 500;
        padding: 20px 0;
        padding-top: 19px;
        text-align: center;
    }
}


.c-footer__breadcrumb {
    padding: 6px 0;
    margin-left: -1px;
    font-size: 1.4rem;
    padding-top: 10px;

    a {
        text-decoration: underline;
    }

    i.arrowright {
        margin: 0 10px;
        font-size: 1rem;
    }
}
