<div class="l-container">
  <header class="c-header">
    <div class="c-header__top">
      <a href="../" class="c-header__logo">
        <img src="./assets/img/logo.png" alt="homepage">
      </a>
      <nav class="c-header__navbar">
        <ul class="c-header__list">
          <% linklists.main.forEach(item=> { %>
            <li class="c-header__item">
              <a <% if (item.current) { %>class="is-active"<% } %> href=<%= item.url %>><%= item.title %></a>
            </li>
            <% }) %>
        </ul>
      </nav>
    </div>
  </header>
</div>
