///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------

.u-imgdefaut {
    position: relative;
    background: #a8a8a8;
    
    &::before {
        content: "image";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-51%, -55%);
        font-weight: 700;
        text-transform: capitalize;
        
    }
    
    &--xl {
        &::before {
            color: #ccc;
        }
        font-size: 41px;
    }

    &--l {
        &::before {
            color: #efefef;
        }
        font-size: 25px;
    }

    &--md {
        font-size: 20px;
        
        &::before {
            color: #efefef;
            font-weight: 500;
        }
    }
}


.u-linetop {
    border-top: 1px solid #a8a8a8;
}

.u-linebottom {
    border-bottom: 1px solid #a8a8a8;
    line-height: 16px;
}


.u-tagitem {
    width: fit-content;
    padding: 0 23px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 500;

    &--bggreen {
        background-color: #a3d39c;
    }

    &--bgyellow {
        background-color: #fff799;
    }

    &--bgpink {
        background-color: #ffdfdf;
    }
}


.u-titlesection {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 30px;

    &--yellow {
        border: 1px solid #ffd800;
        border-left: 7px solid #ffd800;
        background: #fff9da;
    }
    
    &--blue {
        border: 1px solid #6dcff6;
        border-left: 7px solid #6dcff6;
        background: #ebebeb;
    }
    
    &--red {
        border: 1px solid #f68e56;
        border-left: 7px solid #f68e56;
        background: #fff2f2;
    }
}


.u-btn {
    width: 300px;
    height: 65px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #000;
    text-transform: uppercase;

    &--full {
        width: 100%;
    }

    &--yellow {
        background: #ffd800;
    }

    &--red {
        background-color: #f68e56;
    }

    &--blue {
        background-color: #6dcff6;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    &--right {
        margin-left: auto;
    }
}

.u-textunderline {
    border-bottom: 1px solid #000;

    &--blue {
        border-bottom: 1px solid #1f53fa;
        color: #1f53fa;
    }

    &--red {
        border-bottom: 1px solid #f00;
        color: #f00;
    }

    &--yellow {
        border-bottom: 1px solid #ff9c00;
        color: #ff9c00;
    }
}

.u-text {
    &--red {
        color: #c40000;
    }

    &--blue {
        color: #11638a;
    }

    &--pink {
        color: #f5989d;
    }

    &--green {
        color: #bedc95;
    }
}
