
.u-linetop {
    border-top: 1px solid rgb(204, 204, 204);
}

.u-linebottom {
    border-bottom: 1px solid rgb(204, 204, 204);
    line-height: 1.14;
}


.u-textunderline {
    &--blue {
        border-bottom: 1px solid #1f53fa;
        color: #1f53fa;
    }

    &--red {
        border-bottom: 1px solid #f00;
        color: #f00;
    }

    &--yellow {
        border-bottom: 1px solid #ff9c00;
        color: #ff9c00;
    }
}

.u-text {
    &--red {
        color: #c40000;
    }

    &--blue {
        color: #11638a;
    }

    &--pink {
        color: #f5989d;
    }

    &--green {
        color: #bedc95;
    }
}
