<div class="c-banner">
    <img src="/_public/assets/img/banner.png" alt="c-banner">
    <div class="c-banner__content">
        <button class="c-banner__btn">Category 1</button>
        <h1 class="c-banner__title">Title title title &nbsp;title &nbsp;title &nbsp;title &nbsp;title&nbsp;title&nbsp;
            title
            title &nbsp;title &nbsp;title &nbsp;title </h1>
    </div>
</div>  