<div class="c-banner u-imgdefaut u-imgdefaut--xl">
    <div class="c-banner__content">
        <button class="c-banner__btn">Category 1</button>
        <p class="c-banner__title">Title title title &nbsp;title &nbsp;title &nbsp;title &nbsp;title&nbsp;title&nbsp;
            title
            title &nbsp;title &nbsp;title &nbsp;title </p>
    </div>
</div>