<% if (typeof linklists !='undefined' ) { %>
    <% linklists.main && linklists.main.forEach(link=> { %>
      <% if (link.data) { %>
        <section class="l-blog c-blog">
          <div class="c-blog__title u-titlesection u-titlesection--blue">
            <h1>Blog</h1>
          </div>
          <div class="c-blog__items">
            <% link.data.blogItem.forEach(item=> { %>
              <div class="c-blog__item">
                <a href="#" class="c-blog__image u-imgdefaut u-imgdefaut--md">
                </a>
                <div class="c-blog__tag u-tagitem u-tagitem--bg<%= item.tagcolor %>">
                  <%= item.tag %>
                </div>
                <div class="c-blog__content">
                  <p class="c-blog__desc">
                    <%= item.desc %>
                  </p>
                </div>
              </div>
              <% }) %>
          </div>
          <button class="c-blog__more u-btn u-btn--full u-btn--blue">View more</button>
        </section>
        <% } %>
          <% }) %>
            <% } %>