.c-breadcrumb {
    display: flex;
    align-items: center;
    padding-top: 27px;
    margin-bottom: 38px;
    font-size: 1.4rem;
    line-height: 1.42;

    a {
        text-decoration: underline;
    }


    .c-breadcrumb__page {
        text-transform: capitalize;
    }

    i.home {
        margin-right: 2px;
    }

    i.arrowright {
        margin-left: 11px;
        margin-right: 10px;
        font-size: 1rem;        
    }
}


.c-breadcrumb__home {
    text-transform: uppercase;
}
